<html>

<head>
  <title></title>
</head>

<body>

  <div id="imgCont">Results here</div>

  <div id="cam"></div>


  <form>
    <input type=button value="Take Snapshot" onClick="takeSnapshot()">
  </form>

  <form action="/uploader" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" />
  </form>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='webcam.min.js') }}"></script>

  <script>
    Webcam.set({
      width: 640,
      height: 480,
      image_format: 'jpeg',
      jpeg_quality: 90
    });

    Webcam.attach('#cam');

    function takeSnapshot() {
      Webcam.snap(function(data_uri) {
        document.getElementById('imgCont').innerHTML = '<img id="imgSnap" src="' + data_uri + '"/><button onClick="saveSnap()">Save Snap</button>';

      });
      console.log('snapped');
    }

    /*
    function saveSnap() {
      var f = document.getElementById("imgSnap").src;
      var formdata = new FormData();
      formdata.append("img", f);
      var ajax = new XMLHttpRequest();
      ajax.open("POST", "/uploader");
      ajax.send(formdata);
      console.log("done");
    } */


    function saveSnap() {
      var formdata = new FormData();
      var file = $("#imgSnap").src;
      formdata.append("img", file);
      $.ajax({
        type: 'POST',
        url: '/uploader',
        data: formdata,
        contentType: false,
        cache: false,
        processData: false,
        async: false,
        success: function(data) {
                console.log('Success!');
        },
      });
    }

  </script>

</body>

</html>
