<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Moodify</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>

<body ng-controller="appCtrl">


  <img id="bg" ng-src="{{ '{{currentPlaying.albumart}}' }}" />


  <div class="navbar-fixed">
    <nav id="nav-top">
      <div class="nav-wrapper black">
        <a href="#!" class="brand-logo"><i class="material-icons">library_music</i>Moodify</a>
        <form id="search-bar">
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
        <div></div>
      </div>
    </nav>
  </div>

  <sound-manager></sound-manager>

  <div class="navbar-fixed" id="nav-bottom">
    <nav id="music-player">
      <div class="nav-wrapper black row">
        <img class="col s1" ng-src="{{ '{{currentPlaying.albumart}}' }}" />
        <div class="col s2" id="nav-metadata">
          {{ '{{currentPlaying.title}}' }} <br/> {{ '{{currentPlaying.artist}}' }}
        </div>
        <div class="col s5">
          <div class="progress player-seek grey darken-2" seek-track>
            <div class="determinate white" ng-style="{width : ( progress + '%' ) }"></div>
          </div>
        </div>
        <div class="col s2 player-ctrl row">
          <i class="material-icons col" prev-track>skip_previous</i>
          <i ng-show="!isPlaying" class="material-icons col large-icons" play-music>play_arrow</i>
          <i ng-show="isPlaying" class="material-icons col large-icons" pause-music>pause</i>
          <i class="material-icons col" next-track>skip_next</i>
        </div>
        <div class="col s2 player-ctrl row">
          <i class="material-icons col" repeat-music>repeat</i>
          <i ng-show="!mute" class="material-icons col" mute-music>volume_up</i>
          <i ng-show="mute" class="material-icons col" mute-music>volume_off</i>
        </div>
      </div>
    </nav>
  </div>

  <div class="container row">
    <div class="col s8">
      <div class="card horizontal" ng-mouseover="songHover = true" ng-mouseleave="songHover = false" ng-repeat="song in songs | filter: search">
        <div class="card-image">
          <img src="{{ '{{song.albumart}}' }}">
        </div>
        <div class="card-stacked black text-white">
          <div class="card-content">
            <h5>{{ '{{song.title}}' }}</h5><br/>
            {{ '{{song.artist}}' }}<br/>{{ '{{song.album}}' }}<br/>
            <div class="right" ng-show="songHover">
              <i class="material-icons" music-player add-song="song">playlist_add</i>
              <i class="material-icons" music-player="play" add-song="song">play_arrow</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/angular-soundmanager2.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/musicplayer-app.js')}}"></script>
</body>

</html>
