body {
  background-color: grey;
}

nav form {
  margin-left: 20vw;
  width: 40vw;
}

.text-white {
  color: white;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#nav-bottom {
  bottom: 0 !important;
  position: fixed;
}

